:root {
  --colors60: rgba(255, 255, 255, 1);
  --colors60-dim: rgba(255, 255, 255, 0.9);
  --colors30-dim: rgba(5, 5, 5, 0.9);
  --colors30: black;
  --colors10: rgba(255, 250, 0, 0.9);
  --colors10-dim: rgba(255, 250, 0, 0.5);
  --colors-dim: rgba(100, 100, 100, 0.3);
}

.footer__container .footer__container__list {
  list-style-type: none;
}
.footer__container a {
  color: snow;
  text-decoration: none;
}

#footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: rgb(5, 5, 5);
  position: relative;
  height: 10rem;
  margin-top: -100px;
  clear: both;
}

.email-listing {
  padding-left: 2.5rem;
  color: snow;
}

#header {
  z-index: 2;
  width: 100%;
  background: rgb(5, 5, 5);
  position: fixed;
}

#header {
  position: fixed;
}

.hero--img {
  display: flex;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

#logo {
  animation: flicker-in-1;
  animation-duration: 1.5s;
  animation-iteration-count: 1.5;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  margin-right: 3rem;
  padding-left: 10%;
  font-size: 4rem;
  text-decoration: none;
  color: snow;
}

.nav-container--list .nav__list--item {
  transition: all 0.5s ease-out;
  font-size: 2rem;
  font-style: italic;
  color: snow;
  display: inline-block;
  height: 55px;
  width: 100px;
  text-align: center;
  line-height: 55px;
  text-decoration: none;
  margin-right: 5rem;
}

.nav__list--item {
  justify-items: center;
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
}
.nav__list--item:after, .nav__list--item:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid snow;
  transition: all 0.5s;
}
.nav__list--item:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid #ffff00;
  border-left: 5px solid #ffff00;
}
.nav__list--item:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid #ffff00;
  border-right: 5px solid #ffff00;
}
.nav__list--item:hover {
  transform: rotate(10deg);
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  animation: flicker-in-1;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
}
.nav__list--item:hover:before, .nav__list--item:hover:after {
  width: 100%;
  height: 100%;
}

#main {
  min-height: 100%;
}

.introduction {
  padding-left: 12%;
  background-image: url("assets/bg.png");
  background-size: contain;
  display: flex;
  overflow: auto;
  flex-direction: column;
}

#main {
  display: flex;
  background: black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.intro-section {
  border-radius: 1rem;
  z-index: 1;
  animation: slide-in-blurred-left;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background: whitesmoke;
  filter: grayscale(50%);
  opacity: 0.9;
  padding-right: 6rem;
  padding-left: 6rem;
  margin-bottom: 7rem;
  line-height: 1.5;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 auto;
  margin-top: 13rem;
  margin-left: 15%;
  height: 35rem;
  width: 60%;
  border: 5px solid #ffff00;
  color: black;
}
.intro-section h1 {
  font-size: 2.5rem;
}

.the-what-container {
  animation: slide-in-blurred-left;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
  width: 60%;
  min-height: 22rem;
  background: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin-top: 1rem;
  margin-bottom: 7rem;
  margin-left: 15%;
  padding-bottom: 1rem;
}
.the-what-container h3 {
  background: #000000;
  background: linear-gradient(to right, #000000 10%, #FFFF00 50%, #000000 90%);
  font-size: 2rem;
}

.intro-the-what {
  margin-bottom: 15rem;
}

.the-what-details {
  justify-content: center;
  animation: slide-in-blurred-left;
  animation-duration: 0.6s;
  animation-iteration-count: 1;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  align-items: center;
  text-align: center;
  padding: 1rem 3rem 1rem 3rem;
  border-radius: 1rem;
  margin-left: 15%;
  width: 60%;
  height: 60vh;
  background: rgba(7, 7, 7, 0.9);
}
.the-what-details h4 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 2rem;
  font-weight: 100;
}
.the-what-details p {
  color: rgba(255, 255, 255, 0.8);
}

.the-what-list {
  list-style-type: none;
  line-height: 1.5;
  transform: translate(-20px, 0px);
}
.the-what-list li {
  margin-bottom: 0.7rem;
}

#colorizer-one {
  box-shadow: inset 0 0 0 0 white;
  color: rgba(255, 255, 10, 0.7);
  padding: 0 0.25rem;
  margin: 0 -0.25rem;
  transition: color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
}

#colorizer-one:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #020202;
}

@media (max-width: 769px) {
  .intro-section {
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    height: auto;
    padding-bottom: 2rem;
  }
  .zero-introduction .zero--intro {
    margin-top: 20%;
    margin-left: 15%;
  }
  .the-what-details {
    height: auto;
  }
}
@media (max-width: 426px) {
  .intro-section {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 80%;
    margin-left: 5%;
    margin-top: 13rem;
  }
  .the-what-container {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    width: 80%;
    margin-left: 5%;
  }
  .the-what-details {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    width: 80%;
    margin-left: 5%;
    margin-top: 8rem;
  }
}
@media (max-width: 375px) {
  .intro-section {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-top: 13rem;
  }
  .nav__list--item {
    margin-left: 3rem;
    margin-right: 0.1rem;
  }
  .zero-introduction .zero--intro {
    margin-left: 25%;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  min-height: 150vh;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.zero-introduction {
  margin-top: 20%;
  position: relative;
  padding-left: 12%;
  background-image: url("assets/bg.png");
  background-size: contain;
  display: flex;
  overflow: auto;
  flex-direction: column;
  width: 100%;
}

.zero--intro {
  text-align: center;
  animation: text-shadow-pop-left;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  margin-left: 15%;
  width: 60%;
}

#zero-h1 {
  font-size: 3.5rem;
  color: snow;
}

:root {
  --colors60: rgba(255, 255, 255, 1);
  --colors60-dim: rgba(255, 255, 255, 0.9);
  --colors30-dim: rgba(5, 5, 5, 0.9);
  --colors30: black;
  --colors10: rgba(255, 250, 0, 0.9);
  --colors10-dim: rgba(255, 250, 0, 0.5);
  --colors-dim: rgba(100, 100, 100, 0.3);
}

i {
  left: 5%;
  transition: all 0.2 ease-in-out;
  color: var(--colors60-dim);
}

i:hover {
  color: var(--colors60);
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--colors30);
  overflow-x: hidden;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "colors reciever" "control control";
  background-color: var(--colors30);
}

/* areas */
.colorizer {
  grid-area: colors;
}

.control-main {
  grid-area: control;
}

.reciever-main {
  grid-area: reciever;
}

#colorizerID {
  position: absolute;
}

.colorizer {
  border-radius: 0.8rem;
  margin: 1rem;
  margin-top: 13rem;
  margin-left: 20rem;
  background-color: var(--colors-dim);
  display: flex;
  height: 25rem;
  width: 35rem;
  padding: 0.8rem;
  justify-content: center;
  border: 0.1rem outset var(--colors30);
}

.color-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1rem outset var(--colors30);
  border-radius: 0.8rem;
  width: 10rem;
  min-width: 4rem;
  height: 12rem;
  margin-top: 7rem;
  padding: 1rem;
}

#color-box-2 {
  margin-left: 0.8rem;
}

#color-box-3 {
  margin-left: 0.8rem;
}

.hexInput {
  background-color: black;
  font-size: 1.1rem;
  font-weight: 800;
  color: white;
  margin-top: 0.8rem;
  max-width: 7rem;
  width: 6rem;
  min-width: 4rem;
}

.toggleLockButton, .randomizeButton {
  margin-top: 1.5rem;
  height: 2.3rem;
  width: 3.5rem;
  border: 3px outset white;
  color: var(--colors60-dim);
  background-color: var(--colors30);
}

.randomizeAll {
  margin-top: 3.6rem;
  position: absolute;
  height: 2.3rem;
  width: 3.5rem;
  border: 3px outset white;
  color: var(--colors60);
  background-color: var(--colors30);
}

button {
  height: 2.3rem;
  width: 3.5rem;
  border: 3px outset white;
  color: var(--colors60-dim);
  background-color: var(--colors30);
}

.deleteAllButton {
  margin-left: 21.5rem;
  height: 2.3rem;
  width: 3.5rem;
  border: 3px outset white;
  color: var(--colors60-dim);
  background-color: var(--colors30);
  margin-bottom: 1.5rem;
}

.toggleLockButton:hover, .randomizeButton:hover, .randomizeAll:hover, .groupAdd:hover {
  height: 2.4rem;
  width: 3.6rem;
  border: 3px outset white;
  color: var(--colors60);
  background-color: var(--colors30);
}

.groupAdd {
  margin-left: 14rem;
  margin-bottom: 1.5rem;
  height: 2.3rem;
  width: 3.5rem;
  border: 3px outset white;
  color: var(--colors60);
  background-color: var(--colors30);
}

.control-main {
  transform: translateY(-15.5rem);
  margin: 1rem;
  margin-left: 20rem;
  background-color: var(--colors-dim);
  height: 43rem;
  width: 35rem;
  padding: 2rem;
  justify-content: center;
  border: 0.1rem outset var(--colors30);
  border-radius: 0.8rem;
}

.control-panel {
  display: grid;
}

.rules {
  border-radius: 0.8rem;
  background-color: var(--colors10-dim);
}

.colorizerTitle {
  text-align: center;
  color: var(--colors10);
}

.mainTitle, .recieverTitle {
  text-align: center;
  color: var(--colors10);
  border: 0.1rem outset var(--colors30);
}

.addedTitle {
  text-align: center;
  color: var(--colors10);
}

.rulesTitle {
  text-align: center;
  color: var(--colors30);
}

.rules-text {
  padding: 1rem;
  width: auto;
  height: 10rem;
  color: rgba(20, 20, 20, 0.9);
  border-radius: 0.8rem;
}

.mainTitle, .recieverTitle {
  margin-top: 0;
}

.titleArea {
  margin-bottom: 1.5rem;
}

.textArea {
  height: 12rem;
  margin-bottom: 1.5rem;
}

.reciever-main {
  /* margin-bottom: 20rem; */
  position: sticky;
  top: 2rem;
  margin: 1rem;
  margin-top: 12.9rem;
  margin-right: 19rem;
  padding: 2rem;
  background-color: var(--colors-dim);
  height: 41rem;
  width: 51rem;
  /* padding: 2rem; */
  justify-content: center;
  border: 0.1rem outset var(--colors30);
  border-radius: 0.8rem;
  overflow-y: scroll;
}

.reciever-main::-webkit-scrollbar {
  width: 10px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
}

/* Track */
.reciever-main::-webkit-scrollbar-track {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background: var(--colors30-dim);
}

/* Handle */
.reciever-main::-webkit-scrollbar-thumb {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background: #888;
}

/* Handle on hover */
.reciever-main::-webkit-scrollbar-thumb:hover {
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  background: var(--colors10);
}

.reciever-panel {
  padding: 1rem;
  width: auto;
  height: 10rem;
  border-radius: 0.8rem;
}

.addedDetails {
  padding: 0.8rem;
  border-radius: 0.8rem;
  color: rgba(20, 20, 20, 0.9);
  width: 45rem;
  height: auto;
  min-height: 10rem;
  background-color: var(--colors10-dim);
}

.addedTimeDate {
  color: forestgreen;
}

@media (max-width: 1440px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .colorizer {
    margin-left: 3%;
  }
  .control-main {
    margin-left: 1.2%;
  }
  .reciever-main {
    position: sticky;
    width: 51rem;
  }
  .deleteAllButton {
    margin-left: 21rem;
  }
}
@media (max-width: 1024px) {
  .addedDetails {
    padding: 0.8rem;
    border-radius: 0.8rem;
    color: rgba(20, 20, 20, 0.9);
    width: 31rem;
    height: auto;
    min-height: 10rem;
    background-color: var(--colors10-dim);
  }
  .deleteAllButton {
    margin-left: 14rem;
  }
  .colorizer {
    margin-left: 7%;
    margin-top: 39%;
    width: 22rem;
    height: 25rem;
  }
  .color-box {
    width: 9rem;
    height: 14rem;
  }
  .control-main {
    margin-bottom: 3%;
    width: 22rem;
  }
  .reciever-main {
    position: sticky;
    margin-top: 16.1%;
    margin-left: 2%;
    width: 37rem;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .deleteAllButton {
    margin-left: 8rem;
  }
  .colorizer {
    margin-left: 4%;
    margin-top: 51%;
    width: 20rem;
    height: 25rem;
  }
  .hexInput {
    font-size: 0.85rem;
    font-weight: 500;
    width: 4rem;
  }
  .color-box {
    width: 9rem;
    height: 14rem;
  }
  .control-main {
    margin-left: 1.5%;
    margin-bottom: 0.1rem;
    width: 20rem;
    padding: 0.7rem;
  }
  #colorizerID {
    margin-top: 0rem;
  }
  .reciever-main {
    margin-top: 24.5%;
    margin-left: 2%;
    width: 24.6rem;
  }
  .addedDetails {
    padding: 0.8rem;
    border-radius: 0.8rem;
    color: rgba(20, 20, 20, 0.9);
    width: 18.5rem;
    height: auto;
    min-height: 10rem;
    background-color: var(--colors10-dim);
  }
}
@media (max-width: 550px) {
  .container {
    display: flex;
    flex-direction: column;
  }
  .deleteAllButton {
    margin-left: 6.5rem;
  }
  .groupAdd {
    margin-left: 8rem;
  }
  .colorizer {
    margin-left: 11%;
    margin-top: 50%;
    width: 80%;
    height: 20rem;
  }
  .hexInput {
    font-size: 0.75rem;
    font-weight: 500;
    width: 4rem;
  }
  .color-box {
    width: 9rem;
    height: 10rem;
  }
  .control-main {
    transform: translateY(0);
    margin-left: 11%;
    margin-bottom: 0.1rem;
    width: 80%;
    padding: 0.7rem;
  }
  #colorizerID {
    margin-top: 0rem;
  }
  .reciever-main {
    margin-top: 2rem;
    margin-left: 11%;
    width: 80%;
  }
  .addedDetails {
    padding: 0.8rem;
    border-radius: 0.8rem;
    color: rgba(20, 20, 20, 0.9);
    width: 20rem;
    height: auto;
    min-height: 10rem;
    background-color: var(--colors10-dim);
  }
}
@media (max-width: 425px) {
  .addedDetails {
    padding: 0.8rem;
    border-radius: 0.8rem;
    color: rgba(20, 20, 20, 0.9);
    width: 15rem !important;
    height: auto;
    min-height: 10rem;
    background-color: var(--colors10-dim);
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .deleteAllButton {
    margin-left: 5.5rem;
  }
  .groupAdd {
    margin-left: 7.5rem;
  }
  .colorizer {
    margin-left: 11%;
    width: 80%;
    height: 20rem;
  }
  .hexInput {
    font-size: 0.75rem;
    font-weight: 500;
    width: 4rem;
  }
  .color-box {
    width: 9rem;
    height: 10rem;
  }
  .control-main {
    transform: translateY(0);
    margin-left: 11%;
    margin-bottom: 0.1rem;
    width: 80%;
    padding: 0.7rem;
  }
  #colorizerID {
    margin-top: 0rem;
  }
  .reciever-main {
    margin-top: 2rem;
    margin-left: 11%;
    width: 80%;
  }
  .addedDetails {
    padding: 0.8rem;
    border-radius: 0.8rem;
    color: rgba(20, 20, 20, 0.9);
    width: 20rem;
    height: auto;
    min-height: 10rem;
    background-color: var(--colors10-dim);
  }
}/*# sourceMappingURL=main.css.map */