@use '../partials/variables' as *;


// Header and Footer Set Up
#main {
    min-height: 100%
}


.introduction {
    padding-left: 12%;
    background-image: url('assets/bg.png');
    background-size: contain;
    display: flex;
    overflow: auto;
    flex-direction: column;
}
// Set Up ends 

// Main Body

#main {
    display: flex;
    background: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
// Intro
.intro-section {
    border-radius: 1rem;
    z-index: 1;
    animation: slide-in-blurred-left;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    background: whitesmoke;
    filter: grayscale(50%);
    opacity: 0.9;
    padding-right: 6rem;
    padding-left: 6rem;
    margin-bottom: 7rem;
    line-height: 1.5;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0 auto;
    margin-top: 13rem;
    margin-left: 15%;
    height: 35rem;
    width: 60%;
    border: 5px solid $colors10;
    color: black;
    h1 {
        font-size: 2.5rem;
    }
}
// The What Section w/ video
.the-what-container {
    animation: slide-in-blurred-left;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
    width: 60%; min-height: 22rem;
    background: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    margin-top: 1rem;
    margin-bottom:  7rem;
    margin-left: 15%;
    padding-bottom: 1rem;
    h3 {
        background: #000000;
        background: linear-gradient(to right, #000000 10%, #FFFF00 50%, #000000 90%);
        font-size: 2rem;
    }
}
.intro-the-what {
    margin-bottom: 15rem;
}
// Details Container
.the-what-details {
    justify-content: center;
    animation: slide-in-blurred-left;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    align-items: center;
    text-align: center;
    padding: 1rem 3rem 1rem 3rem;
    border-radius: 1rem;
    margin-left: 15%;
    width: 60%; height: 60vh;
    background: $colors30;
    h4 {
        color: $colors60-dim;
        font-size: 2rem;
        font-weight: 100;
    }
    p {
        color: $colors60-dim;
    }
}
// The What Details List
.the-what-list {
    list-style-type: none;
    line-height: 1.5;
    transform: translate(-20px, 0px);
    li {
        margin-bottom: 0.7rem;
    }
}

// List Hover Animation
#colorizer-one {
    box-shadow: inset 0 0 0 0 white;
    color: $colors10-dim;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .4s ease-in-out, box-shadow .4s ease-in-out;
}

#colorizer-one:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #020202;
}