@use '../partials/variables' as *;



.footer__container {
    .footer__container__list{
        list-style-type: none;
    }
    a {
        color: $colors60;
        text-decoration: none;
    }
    
}

#footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgb(5, 5, 5);
    position: relative;
    height: 10rem;
    margin-top: -100px;
    clear: both;
}



.email-listing {
    padding-left: 2.5rem;
    color: $colors60;
}