@use '../partials/variables' as *;

#header {
    width: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 0, 1) 0%, rgba(60, 60, 39, 1) 50%, rgba(0, 0, 0, 1) 100%);
    position: fixed;
}

.nav-container {
    display: flex;
    justify-content: space-around;
}

.nav-container--list {
    .nav__list--item {
        font-size: 2rem;
        font-style: italic;
        color: whitesmoke;
        display: inline-block;
        height: 55px; width: 100px;
        text-align: center;
        line-height: 55px;
        text-decoration: none;
    }
    #logo {
        margin-right: 0.5rem;
        font-size: 4rem;
        text-decoration: none;
        color: whitesmoke;
    }
}